
* {box-sizing: border-box; margin: 0px; }
body{
	background-color: #1E2B45;

}
h1 {
	text-align: center;
	color: #F1A845;
	background-color:  #40578F;
}

p {width: 25px; height: 25px;
	border-top: solid; 
	border-right: solid;
	border-bottom: solid;
	border-left: solid;
	border-width: 1px;
	/*background-color: #eeeeee;*/
	text-align: center;
	margin: -1px ;
	float: left; 
	font-size: 8px;
	padding: 4px 2px;
	 
	}


p:hover {
	background-color: #ff7777;
}	

p.pabaiga {
	background-color: #E0F2F2;
	position: absolute;
	top: 200px;
	left: 160px;
	opacity: .9;
	font-size: 50px;
	font-family: Arial;
	font-weight: 900;
	color: #0C695D;
	border: none;
	padding: 50px 10px;


}

	.row {
		clear: both;

			}

	div.mygtukai  {
		float: left; 
		/*width: 200px; 
		height: 620px;*/
		margin-bottom: 50px; 
		background-color: #ffff30;
		display: block;
  		align-content: center;
  		border-radius: 10px;
		margin:10px; 
		padding: 5px; 
		
	}

	div.remeliuMygtukai{
		 display: none;
	}

	.rodykles {
		margin: 10px auto;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		display: block;
		background-color: #ffff80;
	
	}
		

	}
	#nextCell {margin-top: 30px;}

	#toTop {position: relative; top: 5px; left:22px;}
	#toBottom {position: relative; top: 40px; left: 22px;}
	#toLeft {position: relative; top: -60px; left: -23px;}
	#toRight {position: relative; top: -115px; left:67px;}


	button {margin: 5px 30px; width: 120px; box-shadow: 1px 1px 5px;}
	button.direction {
		margin: 5px 5px 5px 15px;
		padding: 5px; 
		width: 45px; height: 45px;
		background-color: #ff0000;
		color: #ffffff;}

	button.kelias {
		width: 120px;
		height: 50px;
		border-radius: 10px;
		text-align: center;
		box-shadow: 1px 1px 5px;
	}

	.frame { 
		margin:10px; 
		padding: 10px; 
		border: 2px solid red;
		clear: both;
		/*width: 620px;
		height: 620px;*/
		overflow: auto;
		float: left;
		background-color: #ffffff;
		align-content: center;
		display: inline-block;
	}

	@media (max-width: 700px) {div.frame {width: 350px;height: 350px;}	}
	@media (min-width: 701px) {div.frame {width: 620px;height: 620px;}	}

	@media (max-width: 700px) {div.mygtukai {width: 350px; height: 200px;}	}
	@media (min-width: 701px) {div.mygtukai {width: 200px; height: 620px;}	}

	@media (max-width: 700px) {div.rodykles {float: left;}	}

	.zaidimoLaukas {
		margin: 10px ;
		
	}
		/*.red {background-color: #ff7777;
			border-radius: 5px;}*/

		.keliautojas {
			background-image: url("pics/man.gif");
			background-position: center;
			background-repeat: no-repeat;
		}	

		.keliautojasDeadEnd {
			background-image: url("pics/man.gif");
			background-position: center;
			background-repeat: no-repeat;
			background-color: #DED1C2;
		}	

		.tuscias {
			border-color: #ff0000;
			/*background-color: #eeeeee;*/
		}
		.deadEnd {
			background-color: #DED1C2;
		}
	
